.page-container {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.sidenav {
    background: var(--sidenav-background);

    ::ng-deep .mat-drawer-inner-container {
        overflow: hidden;
    }
}

.content {
    min-height: 100%;
    position: relative;
    width: 100%;
    padding: 30px 20px;
}

.sidenav-container {
    background: var(--background-base);
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.sidenav-content {
    overflow-x: hidden;
    overflow-y: auto;
}
